{% extends 'base.html' %}

{% block tieude %}
Cày Thuê Aram
{% endblock %}

{% block content %}
<section class="section-intro padding-y-sm">
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="jumbotron p-4 p-md-5 text-black rounded bg-light">
            <div class="col-md-6 px-0">
            <h1 class="display-5 font-italic">Let's find out your</h1>
            <h1 class="display-4 font-italic">Local Binary Pattern Histogram!</h1>
            {% comment %} <p class="lead my-3">
                Phu Dinh give you a paypal sandbox account UP TO 
               <h2>$900000 </h2>
                ID: sb-6j3tu7212034@personal.example.com
                Password: 123123123
            </p> {% endcomment %}
            <p class="lead mb-0"><a class="font-italic" href="" class="font-weight-bold">Convert now</a></p>
            </div>
        </div>
    </div>  <!-- container //  -->
</section>

{% endblock %}
