{% extends 'hangout/base.html' %}
{% load static %}

{% block logo_unique %}
logo_game
{% endblock %}

{% block tieude %}
Aram Tool | Cày Thuê Aram
{% endblock %}

{% block content %}
<section class="section-intro padding-y-sm">
    <div class="container">
        {% include "includes/alerts.html" %}
      <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading text-center font-italic">{{ tool.name }}</h1>
            <p class="lead text-muted">{{ tool.description }}</p>
            <p>
              <a href="https://www.facebook.com/phudinhtruongk18">
                <button class="btn btn-success">
                    <span class="text">Get it now</span>
                    <i class="fas fa-check"></i>
                </button>
              </a> 
            </p>
          </div>
      </section>
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ tool.get_embed }}" allowfullscreen></iframe>
        </div>
        <!-- ============================ COMPONENT 1 END .// ================================= -->
{% comment %} rating {% endcomment %}
        <br/>
        <div class="row">
            <div class="col-md-9">
                <form action="{% url 'submit_tool_review' tool.id %}" method="POST">
                    {% csrf_token %}
                    <h5>Write your review</h5>
                    <div>
                        {% include "includes/alerts.html" %}
                        <label>How do you rate this product?</label>
                        <br>
                        <div class="rate">
							<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
							<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
							<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
							<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
							<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
							<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
							<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
							<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
							<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
							<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
						</div>
                        <br>
                        Review title:
                        <input type="text" class="form-control" name="subject">
                        <br>
                        Review
                        <textarea name="review" rows="4" class="form-control"></textarea>
                        <br>
                        {% if user.is_authenticated %}
                            {% if is_ordered_product %}
                            <button type="submit" value="Submit Review" class="btn btn-primary">Submit Review</button>
                            {% else %}
                            <p>You must purchase this product to post a review.</p>
                            {% endif %}
                        {% else %}
                        <p>You must be logged in to post a review. <span><a href="{% url 'login' %}">Login now</a></span></p>
                        {% endif %}
                    </div>
                </form>
                <br>
                <header class="section-heading">
                    <h3>Customer Reviews</h3>
                </header>
                {% for review in reviews %}
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <div class="text">
                            <span class="date text-muted float-md-right">{{ review.updated_at }}</span>
                            <h6 class="mb-1">{{ review.user.full_name }}</h6>
                            <div class="rating-star">
                                <span>
                                    <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                    <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- icontext.// -->
                    <div class="mt-3">
                        <h6>{{ review.subject }}</h6>
                        <p>{{ review.review }}</p>
                    </div>
                </article>
                {% endfor %}
            </div>
            <!-- col.// -->
        </div>
        <!-- row.// -->

{% comment %} rating {% endcomment %}

    </div>  <!-- container //  -->
</section>

{% endblock %}
